<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog-Z</title>
  </head>
  <body>
    <div class="header">
      <h1>Zaheen Ahmed - Blog</h1>
    </div>

    <div class="posts">
      
    </div>
  </body>
</html>
