<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home-Z</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="container">
      <div class="header">
        <h1>Zaheen Ahmed - Portfolio</h1>
        <h4><a href="/blog">Blog</a></h4>
      </div>

      <div class="projects">
        <h2>My projects:</h2>
        <% for (var i = 0; i < rows.length; i++){ %>
          <div class="projectItem" id=<%= "p" + rows[i].id%>>
            <a href=<%=rows[i].url %> target="_blank"><img class="thumbnail" src=<%= "t" + rows[i].id + ".png"%>> <%= rows[i].name %></a>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
